body{
    font-family: 'Open Sans', sans-serif;
margin: 0px;
background-image: url(img/top-banner.png);
background-repeat: no-repeat;

}
h1{
    font-size: 50px;

}
.name-highlight{
    color: orange;
}
.half-width{
 width: 40%;
 float: left;

 margin-left: 5%;
 padding-left: 2%;
}

.half-width img{
    width: 100%;
    
}

.top{
background-image: url("img/jhankar2.png");
    background-repeat: no-repeat;
}
